<section ng-controller="HomeController">
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <img alt="MEAN.JS" class="img-responsive text-center" src="modules/core/client/img/brand/logo.png" />
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">
       
    </div>
    <div class="row">
      <p>
        <a class="btn btn-primary btn-lg" href="http://meanjs.org" target="_blank">Learn more</a>
      </p>
    </div>
  </div>
  <div>
    <h2>Congrats! You've arrived at the GoCode application.</h2>
    <ul>
      <li>
        Click
        <em>Sign Up</em> to get started.
      </li>
      <li>
        Have fun...
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-3">
      <h2><strong>I</strong>tem 1</h2>
      <p><a target="_blank" href="http://mongodb.org/">Item 1</a> is the first topic <a target="_blank" href="http://docs.mongodb.org/manual/">topic 1</a> </p>
    </div>
    <div class="col-md-3">
      <h2><strong>I</strong>tem 2</h2>
      <p><a target="_blank" href="http://expressjs.com/"> Item 2</a> is the second topic<a target="_blank" href="http://expressjs.com/4x/api.html"> topic 2</a> </p>
    </div>
    <div class="col-md-3">
      <h2><strong>I</strong>tem 3</h2>
      <p><a target="_blank" href="http://expressjs.com/"> Item 3</a> is the third topic<a target="_blank" href="http://expressjs.com/4x/api.html"> topic 3</a> </p>
    </div>
    <div class="col-md-3">
      <h2><strong>I</strong>tem 4</h2>
      <p><a target="_blank" href="http://expressjs.com/"> Item 4</a> is the fourth topic<a target="_blank" href="http://expressjs.com/4x/api.html"> topic 4</a> </p>
    </div>
  </div>
  <div class="well">
    <h2>Go Code Contributors</h2>
    <p>
      
      <ul>
        <li><a target="_blank" href="http://meanjs.org/docs.html">Shannon Sandidge</a>
        </li>
        <li><a target="_blank" href="http://meanjs.org/docs.html">Marilyn Waldman</a>
        </li>
      </ul>
    </p>
  </div>
  <br>Enjoy &amp;
</section>
